  /* Full-Screen Modal Styles */
.modal {
    display: block; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background overlay */
  }
  
  .modal > .content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--modal);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .modal > .content > .margin {
    flex: 1;
  }

  .modal > .content > .contents {
    flex: 10;
    display: flex;
    flex-direction: column;
  }

.modal > .content > .contents > .header {
  flex: 0;
  display: flex;
  align-items: center;
}

.modal > .content > .contents > .header > p {
  font-size: 1.3vw;
}

.modal > .content > .contents > .field {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal > .content > .contents > .field > .error {
  font-size: 1.8vh;
  margin-top: 5px;
  align-self: flex-start;
  color: red;
}

.modal > .content > .contents > .field > input {
  padding: 1em;
  width: 100%;
  height: 50%;
  font-size: 2vh;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.modal > .content > .contents > .field > input:focus {
  border: 2px solid var(--accent);
}

.modal > .content > .contents > .buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.modal > .content > .contents > .buttons > h4 {
  margin-right: 2vw;
  margin-top: 0.5vw;
  font-size: 1.2vw;
  color: var(--accent);
  cursor: pointer;
}

.modal > .content > .contents > .buttons > button {
  height: 50%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  font-size: 1.3vw;
  color: white;
  font-weight: bold;
  cursor: pointer;
}