.main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.app {
  width: 98vw;
  height: 95vh;
  display: flex;
}

.app > .left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app > .left > .contents {
  width: 47vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.contents > .filepane {
  flex: 3
}

.contents > .recentpane {
  flex: 3
}

.app > .right {
  flex: 1;
}