.main {
  display: flex;
  padding: 2rem;
  min-height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}